<body>
  <img class="imagebg" src="/images/background.jpg" alt=""> 
<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <div class="card">
    
    <!-- Form Section -->
    <div class="form-section">
      <h2>Set New Password</h2>
      <p>Create an unique password.</p>
      
      <div class="input-group">
        <label for="newPassword">New Password</label>
        <div class="input-wrapper">
            <i class="fa fa-lock" style="font-size:24px"></i>
            <input id="newPassword" type="password" placeholder="Enter New Password">
            <i class="fas fa-eye toggle-password"></i> <!-- Ensure class is present -->
        </div>
    </div>
    
    <div class="input-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="input-wrapper">
            <i class="fa fa-lock" style="font-size:24px"></i>
            <input id="confirmPassword" type="password" placeholder="Re-enter New Password">
            <i class="fas fa-eye toggle-password"></i> <!-- Ensure class is present -->
        </div>
    </div>
    
    
      <div class="save">
      <button>Save New Password</button>
      </div>
      <a href="#" class="reset-link">Reset password later?</a>
    </div>
    <div>
      
    </div>
    <!-- Language Button -->
   <!-- Language Button with Image -->
<div class="language-container">
  <button class="language-button">
    <i class="fa fa-globe"> ENG</i>
  </button>
  <img src="/images/imi.jpg" alt="Flag" class="language-image">
</div>

   
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
      const toggleIcons = document.querySelectorAll(".toggle-password");

      toggleIcons.forEach(icon => {
          icon.addEventListener("click", function () {
              const input = this.previousElementSibling; // Get the related input field

              if (input.type === "password") {
                  input.type = "text";
                  this.classList.remove("fa-eye");
                  this.classList.add("fa-eye-slash");
              } else {
                  input.type = "password";
                  this.classList.remove("fa-eye-slash");
                  this.classList.add("fa-eye");
              }
          });
      });
  });
</script>

</body>
