<div
  class="main-forgotpassword d-flex justify-content-center align-items-center"
>
  <div class="bg-image vw-100 vh-100 fixed-top">
    <img
      src="/images/ibu-pejabat-imigresen-malaysia.jpg"
      alt="bgimage"
      draggable="false"
      class="vw-100"
    />

    <div class="overlay bg-white bg-opacity-75 vw-100 vh-100 fixed-top"></div>
  </div>

  <div class="formcontainer h-75 bg-white mx-auto rounded-4 p-4">
    <div
      class="textcontainer w-50 d-flex justify-content-start align-items-center flex-column"
    >
      <div class="languagecontainer rounded-5 text-white">
        <img src="/icons/languageicon.svg" alt="language icon" />
        ENG
      </div>
      <div
        class="formreal d-flex justify-content-between align-items-center flex-column h-100 gap-3 w-100"
      >
        <div
          class="formheader d-flex justify-content-center align-items-center flex-column w-75"
        >
          <h1 class="fs-2">Forgot Password?</h1>
          <h2 class="fs-5">No worries, we got you!</h2>
        </div>
        <div class="formbody w-75">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group d-flex flex-column w-100">
              <div
                class="formchild d-flex justify-content-end align-items-end flex-column w-100"
              >
                <div class="inputcontainer d-flex w-100">
                  @if (isEmailSelected) {
                  <img src="/icons/emailiconfill.svg" alt="emailiconfill" />
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="eg. email@gmail.com"
                    autocomplete="off"
                    [(ngModel)]="email"
                    name="email"
                    required
                    email
                  />} @else {
                  <img src="/icons/phoneiconfill.svg" alt="phoneiconfill" />
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    pattern="[0-9]{10,15}"
                    aria-describedby="telHelp"
                    placeholder="eg. 60123456789"
                    autocomplete="off"
                    [(ngModel)]="phone"
                    name="phone"
                    required
                  />
                  }
                </div>
                <span
                  >Use @if (isEmailSelected) {
                  <span href="" (click)="changeOption()" class="textstyle"
                    >phone number</span
                  >} @else {
                  <span href="" (click)="changeOption()" class="textstyle"
                    >email</span
                  >
                  } instead</span
                >
              </div>
              <button class="submit-btn btn text-white w-100" type="submit">
                Send Code
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="loginlink text-center">
        <a routerLink="/login" class="logintext text-secondary"
          >Back to login page?</a
        >
      </div>
    </div>
    <div class="imgcontainer w-50 rounded-4">
      <img
        src="/images/forgotpasswordimg.png"
        alt="forgotpasswordimage"
        width="100%"
        draggable="false"
      />
    </div>
  </div>
</div>
