<div class="container">
    <h1>Digital Landing Card (DLC)</h1>
    <div class="tabs">
      <button class="tab active">Individual</button>
      <button class="tab">Group</button>
    </div>
  

    <div class="content">
      <div class="info-section">
        <h2>Arrival</h2>
        <div class="card">
          <p><strong>Group 1</strong> [<a href="#">Reference : ABC123</a>]</p>
          <p>Name: Nurul Fatin Syuhada</p>
          
            <div class="card-row">
            <p>No. of people: 10</p>
            <p>Submitted on 28/03/2023</p>
            </div>
          
          <button class="menu-btn">⋮</button>
        </div>
  
        <h2>Departure</h2>
        <div class="card">
          <p><strong>Group 1</strong> [<a href="#">Reference : ABC123</a>]</p>
          <p>Name: Nurul Fatin Syuhada</p>
            
            <div class="card-row">
            <p>No. of people: 10</p>
            <p>Submitted on 28/03/2023</p>
            </div>
            
          <button class="menu-btn">⋮</button>
        </div>
  
        <button class="declaration-btn">+ Declaration</button>
      </div>
  
      <div class="image-section">
        <img src="images/Putrajaya_Malaysia_Ministry-of-Home-Affairs.jpg" alt="Ministry of Home Affairs">
        <div class="image-text">
          <h3>Ministry of Home Affairs</h3>
          <p>Ensuring security, harmony, and public well-being for a safer nation.</p>
        </div>
      </div>
    </div>
  </div>

  