* { 
    text-align: center;    
    justify-content: center;
}
.row {
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 0 auto; */
}

table,th {
    border: 2px black solid;
    text-align: center;
    width: 500px;
}


tr,td {
    border: 1px black solid;

}


