<!-- <h1>Home Page</h1>
<p class="text-welcome">Hi, from home component</p>

<button class="btn btn-primary" routerLink="/profile">
  Navigate to Profile
</button> -->
<div style="background-image: url('/images/ibu-pejabat-imigresen-malaysia.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/download-removebg-preview (1).png" alt="Logo Ibu Pejabat Imigresen" srcset="" width="180">
      </div>
      <div class="col-sm-8 center">
        <h2>Official Portal</h2>
        <h2>National Integrated Immigration System (NIISe)</h2>
        <h2>Ministry of Home Affairs</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Good Morning, Wan Asyraaf</h2>
  </div>
  <div class="row">
    <h2>Status: </h2>
  </div>
</div>
  