<div class="greet-container">
    <div class="greet">
        <h3>Good Morning, Wan Asyraaf</h3>
        <img src="/icons/sunny-and-cloudy-sunny-weather-cloudy-svgrepo-com.svg" alt="Sunny Icon" class="sun">
    </div>
    <img src="/icons/profile-circle-svgrepo-com.png" alt="profile" class="profile">
</div>

<div class="status-container">
    <h3 class="status">Status: </h3>
    <h3 class="status-txt">No Restriction</h3>
</div>

<div class="quick-access">
    <div class="txt">
        <h3>Quick Access</h3>
    </div>
</div>