<div
  class="main-forgotpassword d-flex justify-content-center align-items-center"
>
  <div class="bg-image vw-100 vh-100 fixed-top">
    <img
      src="/images/ibu-pejabat-imigresen-malaysia.jpg"
      alt="bgimage"
      draggable="false"
      class="vw-100"
    />

    <div class="overlay bg-white bg-opacity-75 vw-100 vh-100 fixed-top"></div>
  </div>

  <div class="formcontainer h-75 bg-white mx-auto rounded-4 p-4">
    <div
      class="textcontainer w-50 d-flex justify-content-start align-items-center flex-column"
    >
      <div class="languagecontainer rounded-5 text-white">
        <img src="/icons/languageicon.svg" alt="language icon" />
        ENG
      </div>
      <div
        class="formreal d-flex justify-content-between align-items-center flex-column h-100 gap-3 w-100"
      >
        <div
          class="formheader d-flex justify-content-center align-items-center flex-column w-75"
        >
          <h1 class="fs-2">Verification?</h1>
          <h2 class="fs-5">Enter the code to continue.</h2>
        </div>
        <div class="formbody w-75">
          <form (ngSubmit)="onSubmit(otpForm)" #otpForm="ngForm">
            <div class="form-group d-flex flex-column w-100">
              <div
                class="formchild d-flex justify-content-center align-items-center flex-column w-100"
              >
                <div
                  class="floatingtext d-flex justify-content-center align-items-center flex-column"
                >
                  <p>We have sent the code to</p>
                  @if (email) {
                  {{ email }}
                  } @else {
                  {{ phone }}
                  }
                </div>
                <div
                  class="inputcontainer d-flex justify-content-between align-items-center w-75"
                >
                  <input
                    type="number"
                    class="form-control rounded-3 text-center"
                    id="otp1"
                    name="otp1"
                    min="0"
                    max="9"
                    step="1"
                    required
                    (input)="limitDigits($event)"
                    autocomplete="off"
                    [(ngModel)]="otp1"
                  />
                  <input
                    type="number"
                    class="form-control rounded-3 text-center"
                    id="otp2"
                    name="otp2"
                    min="0"
                    max="9"
                    step="1"
                    required
                    (input)="limitDigits($event)"
                    autocomplete="off"
                    [(ngModel)]="otp2"
                  />
                  <input
                    type="number"
                    class="form-control rounded-3 text-center"
                    id="otp3"
                    name="otp3"
                    min="0"
                    max="9"
                    step="1"
                    required
                    (input)="limitDigits($event)"
                    autocomplete="off"
                    [(ngModel)]="otp3"
                  />
                  <input
                    type="number"
                    class="form-control rounded-3 text-center"
                    id="otp4"
                    name="otp4"
                    min="0"
                    max="9"
                    step="1"
                    required
                    (input)="limitDigits($event)"
                    autocomplete="off"
                    [(ngModel)]="otp4"
                  />
                </div>
              </div>
              <button
                class="submit-btn btn text-white w-100"
                type="submit"
                [disabled]="otpForm.invalid"
              >
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="loginlink text-center">
        <a routerLink="/login" class="logintext text-secondary"
          >Back to login page?</a
        >
      </div>
    </div>
    <div class="imgcontainer w-50 rounded-4">
      <img
        src="/images/forgotpasswordimg.png"
        alt="forgotpasswordimage"
        width="100%"
        draggable="false"
      />
    </div>
  </div>
</div>
