/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

* {
  animation: all 0.3s ease-in-out;
}

.main-forgotpassword {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.bg-image {
  z-index: -1;
}

.formcontainer {
  display: flex;
  width: 70%;
}

.imgcontainer {
  overflow: hidden;
  background-size: cover;
}

.languagecontainer {
  background-color: #1da87a;
  width: 100px;
  height: fit-content;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px 0;
}

.formreal {
  height: auto;
  padding: 48px 0 50px 0;
}

.submit-btn {
  background-color: #10203b;
  height: fit-content;
  padding: 10px 20px;
}

.textstyle {
  text-decoration: underline;
  color: #0aa7e4;
}

.form-control {
  border: 1px solid black;
  height: 70px;
  width: 60px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid black;
}

.form-group {
  gap: 40px;
}

.floatingtext {
  margin-bottom: 30px;
  gap: -20px;
}

.floatingtext p {
  line-height: 0;
}

/* Hide spinner arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.logintext {
  cursor: pointer;
}

.snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6d6d;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: fit-content;
  height: 30px;
  line-height: 0;
  padding: 30px 50px;
  border-radius: 20px;
  opacity: 0.9;
}
